{% extends 'main.html' %}
{% block content %}
<h2> Danh sach tin moi </h2>

{% comment %} TÌm kiếm {% endcomment %}
<form method="GET" action"">
    {% csrf_token %}
    <div class="d-flex">
        <label class="p-2" for="keywordInput">Từ khóa</label>
        <div class="p-2">
            <input type="text" id="keywordInput" name="keywordInput" value = "{{keywordInput}}"/>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </div>
</form>
{% comment %} view {% endcomment %}
{% for item in news %}
    <h3><a href="{% url 'new:new_post' item.id %}">{{item.title}}</a></h3>
{% endfor %}
{% comment %} phân trang {% endcomment %}
<div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
            <a href="?page={{ news.previous_page_number }}">First</a>
        {% endif %}
        <span class="current">
            Page {{ news.number }} / {{ news.paginator.num_pages }}.
        </span>
        {% if news.has_next %}
            <a href="?page={{ news.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}